@use "../global" as g;
.c-breadcrumb {
  background-color: #fff;
  &__inner {
    width: 90%;
    margin: 0 auto;
    padding: 8px 0;
    display: flex;
    flex-wrap: wrap;
    align-items: center;

    span:not(:last-child) {
      position: relative;
      display: flex;
      align-items: center;
      &::after {
        content: ">";
        display: inline-block;
        color: g.$font-color;
        font-size: 1.0rem;
        margin: 0 8px;
      }
    }
    a {
      text-decoration: none;
      color: g.$font-color;
      font-size: 1.4rem;
    }
  }
  @include g.bp-tb {}
  @include g.bp-pc {
    &__inner {
      max-width: g.$desktop;
      padding: 16px 0;
      a {@include g.hover;}
    }
  }
}