@use "../global" as g;
.c-form {
  label {cursor: pointer;}
  &__text,
  &__textarea {
    input,
    textarea {
      border: 1px solid #ddd;
      width: 100%;
      padding: 16px 16px;
      font-size: 1.6rem;
      color: g.$font-color;
      border-radius: 0;
    }
    input::placeholder,
    textarea::placeholder {
      color: #ddd;
    }
    input:focus,
    textarea:focus {
      outline: 2px solid g.$main-color;
    }
  }
  &__radio,
  &__checkbox {
    label {
      display: block;
      width: fit-content;
    }
    label:not(:last-child) {margin-bottom: 16px;}
    input[type="radio"],
    input[type="checkbox"] {
      position: absolute;
      appearance: none;
    }
    input[type="radio"] + span,
    input[type="checkbox"] + span {position: relative;}
    input[type="radio"] + span::before,
    input[type="checkbox"] + span::before {
      display: inline-block;
      content: "";
      width: 24px;
      height: 24px;
      background-color: #fff;
      border: 1px solid #ddd;
      vertical-align: text-bottom;
      margin-right: 4px;
    }

  }
  &__radio {
    input[type="radio"] + span::before {
      border-radius: 50%;
    }
    input[type="radio"]:checked + span::after {
      content: "";
      width: 16px;
      height: 16px;
      background-color: g.$main-color;
      border-radius: 50%;
      position: absolute;
      top: 50%;
      left: 4px;
      transform: translateY(-50%);
    }
  }
  &__checkbox {
    input[type="checkbox"]:checked + span::before {
      background-color: g.$main-color;
    }
    input[type="checkbox"]:checked + span::after {
      content: "";
      width: 14px;
      height: 8px;
      border-bottom: 2px solid #ddd;
      border-left: 2px solid #ddd;
      background-color: g.$main-color;
      position: absolute;
      top: 6px;
      left: 6px;
      transform: rotate(-45deg);
    }
  }
  &__submit {
    input[type="submit"] {
      cursor: pointer;
      width: 100%;
      background-color: g.$main-color;
      color: #fff;
      font-size: 1.6rem;
      padding: 24px 0;
      border: none;
      border-radius: 0;
      transition: 0.3s ease-in-out;
    }
    input[type="submit"]:hover {
      background-color: #fff;
      color: g.$main-color;
    }
  }
  @include g.bp-tb {
    &__radio,
    &__checkbox {
      label {
        display: inline-block;
        &:not(:last-child) {margin-right: 16px;}
      }
    }
  }
  @include g.bp-pc {}
}