@use "../global" as g;
.c-hamburger {
  width: 56px;
  height: 53px;
  position: relative;
  span {
    display: block;
    position: absolute;
    transition: 0.3s ease-in-out;
  }
  span:nth-child(1),
  span:nth-child(2),
  span:nth-child(3) {
    height: 3px;
    background-color: #fff;
    border-radius: 3px;
  }
  span:nth-child(1) {
    width: 56px;
    top: 0;
  }
  span:nth-child(2) {
    width: 51px;
    top: 13px;
  }
  span:nth-child(3) {
    width: 47px;
    top: 26px;
  }
  span:nth-child(4) {
    top: 41px;
    color: #fff;
    font-size: 1.2rem;
    font-weight: bold;
    line-height: 1;
  }
  &.is-open {
    span:nth-child(1),
    span:nth-child(3) {
      width: 51px;
    }
    span:nth-child(1) {
      transform: rotate(45deg);
      top: 14px;
    }
    span:nth-child(2) {width: 0;}
    span:nth-child(3) {
      top: 14px;
      transform: rotate(-45deg);
    }
    span:nth-child(4) {margin-left: 5px;}
  }
  @include g.bp-tb {}
  @include g.bp-pc {}
}