@use "../global" as g;
.c-label {
  display: inline-block;
  text-decoration: none;
  font-size: 1.2rem;
  font-weight: 400;
  color: g.$font-color;
  background-color: #fff;
  line-height: 1;
  padding: 8px 12px;

  &--new {
    color: #fff;
    background-color: g.$accent-color;
    padding: 4px 12px;
  }
  &--must {
    color: #fff;
    background-color: g.$sub-color;
    padding: 4px 8px;
  }
  @include g.bp-tb {}
  @include g.bp-pc {}
}
a.c-label {@include g.hover;}