@use "../global" as g;
.u-m {
  &b-16 {margin-bottom: 16px !important;}
  &b-32 {margin-bottom: 32px !important;}
  &b-48 {margin-bottom: 48px !important;}
  &b-64 {margin-bottom: 64px !important;}
  &b-80 {margin-bottom: 80px !important;}
  &b-auto {margin-bottom: auto !important;}
  &t-16 {margin-top: 16px !important;}
  &t-32 {margin-top: 32px !important;}
  &t-48 {margin-top: 48px !important;}
  &t-64 {margin-top: 64px !important;}
  &t-80 {margin-top: 80px !important;}
  &t-auto {margin-top: auto !important;}
  &r-16 {margin-right: 16px !important;}
  &r-32 {margin-right: 32px !important;}
  &r-48 {margin-right: 48px !important;}
  &r-64 {margin-right: 64px !important;}
  &r-80 {margin-right: 80px !important;}
  &r-auto {margin-right: auto !important;}
  &l-16 {margin-left: 16px !important;}
  &l-32 {margin-left: 32px !important;}
  &l-48 {margin-left: 48px !important;}
  &l-64 {margin-left: 64px !important;}
  &l-80 {margin-left: 80px !important;}
  &l-auto {margin-left: auto !important;}
  &-auto {
    margin-left: auto !important;
    margin-right: auto !important;
  }
  @include g.bp-tb {
    &b-16--tb {margin-bottom: 16px !important;}
    &b-32--tb {margin-bottom: 32px !important;}
    &b-48--tb {margin-bottom: 48px !important;}
    &b-64--tb {margin-bottom: 64px !important;}
    &b-80--tb {margin-bottom: 80px !important;}
    &b-auto--tb {margin-bottom: auto !important;}
    &t-16--tb {margin-top: 16px !important;}
    &t-32--tb {margin-top: 32px !important;}
    &t-48--tb {margin-top: 48px !important;}
    &t-64--tb {margin-top: 64px !important;}
    &t-80--tb {margin-top: 80px !important;}
    &t-auto--tb {margin-top: auto !important;}
    &r-16--tb {margin-right: 16px !important;}
    &r-32--tb {margin-right: 32px !important;}
    &r-48--tb {margin-right: 48px !important;}
    &r-64--tb {margin-right: 64px !important;}
    &r-80--tb {margin-right: 80px !important;}
    &r-auto--tb {margin-right: auto !important;}
    &l-16--tb {margin-left: 16px !important;}
    &l-32--tb {margin-left: 32px !important;}
    &l-48--tb {margin-left: 48px !important;}
    &l-64--tb {margin-left: 64px !important;}
    &l-80--tb {margin-left: 80px !important;}
    &l-auto--tb {margin-left: auto !important;}
    &-auto--tb {
      margin-left: auto !important;
      margin-right: auto !important;
    }
  }
  @include g.bp-pc {
    &b-16--pc {margin-bottom: 16px !important;}
    &b-32--pc {margin-bottom: 32px !important;}
    &b-48--pc {margin-bottom: 48px !important;}
    &b-64--pc {margin-bottom: 64px !important;}
    &b-80--pc {margin-bottom: 80px !important;}
    &b-auto--pc {margin-bottom: auto !important;}
    &t-16--pc {margin-top: 16px !important;}
    &t-32--pc {margin-top: 32px !important;}
    &t-48--pc {margin-top: 48px !important;}
    &t-64--pc {margin-top: 64px !important;}
    &t-80--pc {margin-top: 80px !important;}
    &t-auto--pc {margin-top: auto !important;}
    &r-16--pc {margin-right: 16px !important;}
    &r-32--pc {margin-right: 32px !important;}
    &r-48--pc {margin-right: 48px !important;}
    &r-64--pc {margin-right: 64px !important;}
    &r-80--pc {margin-right: 80px !important;}
    &r-auto--pc {margin-right: auto !important;}
    &l-16--pc {margin-left: 16px !important;}
    &l-32--pc {margin-left: 32px !important;}
    &l-48--pc {margin-left: 48px !important;}
    &l-64--pc {margin-left: 64px !important;}
    &l-80--pc {margin-left: 80px !important;}
    &l-auto--pc {margin-left: auto !important;}
    &-auto--pc {
      margin-left: auto !important;
      margin-right: auto !important;
    }
  }
}