@use "../global" as g;
.u-none-sp {
  display: none;
  @include g.bp-tb {display: block;}
  @include g.bp-pc {display: block;}
}
.u-none-tb {
  display: block;
  @include g.bp-tb {display: none;}
  @include g.bp-pc {display: block;}
}
.u-none-pc {
  display: block;
  @include g.bp-tb {display: block;}
  @include g.bp-pc {display: none;}
}