@use "../global" as g;
.u-only-sp {
  display: block;
  @include g.bp-tb {display: none;}
  @include g.bp-pc {display: none;}
}
.u-only-tb {
  display: none;
  @include g.bp-tb {display: block;}
  @include g.bp-pc {display: none;}
}
.u-only-pc {
  display: none;
  @include g.bp-tb {display: none;}
  @include g.bp-pc {display: block;}
}