@use "../global" as g;
.u-p {
  &b-16 {padding-bottom: 16px !important;}
  &b-32 {padding-bottom: 32px !important;}
  &b-48 {padding-bottom: 48px !important;}
  &b-64 {padding-bottom: 64px !important;}
  &b-80 {padding-bottom: 80px !important;}
  &t-16 {padding-top: 16px !important;}
  &t-32 {padding-top: 32px !important;}
  &t-48 {padding-top: 48px !important;}
  &t-64 {padding-top: 64px !important;}
  &t-80 {padding-top: 80px !important;}
  &r-16 {padding-right: 16px !important;}
  &r-32 {padding-right: 32px !important;}
  &r-48 {padding-right: 48px !important;}
  &r-64 {padding-right: 64px !important;}
  &r-80 {padding-right: 80px !important;}
  &l-16 {padding-left: 16px !important;}
  &l-32 {padding-left: 32px !important;}
  &l-48 {padding-left: 48px !important;}
  &l-64 {padding-left: 64px !important;}
  &l-80 {padding-left: 80px !important;}
  @include g.bp-tb {
    &b-16--tb {padding-bottom: 16px !important;}
    &b-32--tb {padding-bottom: 32px !important;}
    &b-48--tb {padding-bottom: 48px !important;}
    &b-64--tb {padding-bottom: 64px !important;}
    &b-80--tb {padding-bottom: 80px !important;}
    &t-16--tb {padding-top: 16px !important;}
    &t-32--tb {padding-top: 32px !important;}
    &t-48--tb {padding-top: 48px !important;}
    &t-64--tb {padding-top: 64px !important;}
    &t-80--tb {padding-top: 80px !important;}
    &r-16--tb {padding-right: 16px !important;}
    &r-32--tb {padding-right: 32px !important;}
    &r-48--tb {padding-right: 48px !important;}
    &r-64--tb {padding-right: 64px !important;}
    &r-80--tb {padding-right: 80px !important;}
    &l-16--tb {padding-left: 16px !important;}
    &l-32--tb {padding-left: 32px !important;}
    &l-48--tb {padding-left: 48px !important;}
    &l-64--tb {padding-left: 64px !important;}
    &l-80--tb {padding-left: 80px !important;}
  }
  @include g.bp-pc {
    &b-16--pc {padding-bottom: 16px !important;}
    &b-32--pc {padding-bottom: 32px !important;}
    &b-48--pc {padding-bottom: 48px !important;}
    &b-64--pc {padding-bottom: 64px !important;}
    &b-80--pc {padding-bottom: 80px !important;}
    &t-16--pc {padding-top: 16px !important;}
    &t-32--pc {padding-top: 32px !important;}
    &t-48--pc {padding-top: 48px !important;}
    &t-64--pc {padding-top: 64px !important;}
    &t-80--pc {padding-top: 80px !important;}
    &r-16--pc {padding-right: 16px !important;}
    &r-32--pc {padding-right: 32px !important;}
    &r-48--pc {padding-right: 48px !important;}
    &r-64--pc {padding-right: 64px !important;}
    &r-80--pc {padding-right: 80px !important;}
    &l-16--pc {padding-left: 16px !important;}
    &l-32--pc {padding-left: 32px !important;}
    &l-48--pc {padding-left: 48px !important;}
    &l-64--pc {padding-left: 64px !important;}
    &l-80--pc {padding-left: 80px !important;}
  }
}