@use "../global" as g;
.l-post {
  position: relative;
  overflow: hidden;
  padding: 48px 0;
  &__inner {
    max-width: 90%;
    margin: 0 auto;
  }
  &__content {
    padding-top: 32px;

  }
  @include g.bp-tb {
    padding: 64px 0;
  }
  @include g.bp-pc {
    padding: 80px 0;
    &__inner {
      max-width: calc(g.$desktop * 0.8);
    }
  }
}