@use "./global" as g;

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}
body {
  font-family: g.$font-ja;
  font-size: 1.6rem;
  color: var(--font-color);;
  font-weight: 400;
  background-color: var(--white);
}
a {
  color: var(--main-color);
  cursor: pointer;
}
img {
  max-width: 100%;
}
p {
  margin: 0;
  line-height: 1.6;
}
dl dt {
  font-weight: 700;
  margin-bottom: 1em;
}
dl dd {
  margin-left: 0;
  margin-bottom: 2em;
}
iframe {width: 100%;}
nav ul {margin: 0;}
nav ul li a {text-decoration: none;}
