@use "./variables" as g;

// ==============================
//  Media Query
// ==============================
@mixin bp-sm {
  @media screen and (min-width: g.$bp-tablet) {
    @content;
  }
}

@mixin bp-md {
  @media screen and (min-width: g.$bp-laptop) {
    @content;
  }
}

@mixin bp-lg {
  @media screen and (min-width: g.$bp-desktop) {
    @content;
  }
}
// ==============================
//  Hover
// ==============================
@mixin hover {
  transition: 0.3s ease-in-out;
  &:hover {opacity: 0.7;}
}
// ==============================
//  Flex
// ==============================
@mixin flex {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}
// ==============================
//  Position
// ==============================
@mixin position-absolute {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  margin: auto;
}
// ==============================
//  Inner
// ==============================
@mixin inner {
  width: 90%;
  margin: 0 auto;
  @include bp-md {max-width: g.$bp-laptop;}
  @include bp-lg {max-width: g.$bp-desktop;}
}