// ==============================
//  Fonts
// ==============================
$font-ja: 'Noto Sans JP','ヒラギノ角ゴシック','Hiragino Sans',YuGothic,'Yu Gothic','メイリオ', Meiryo,sans-serif;

// ==============================
//  Colors
// ==============================
:root {
  --main-color : #3F5973;
  --sub-color: #CB5843;
  --accent-color: #69BAB1;
  --line-color: #00B900;

  --font-color: #555;
  --font-black: #333;

  --white: #FFFFFF;
}
// ==============================
//  z-index
// ==============================
$z-header: 100;
$z-hamburgerBtn: 910;
$z-hamburgerNav: 900;
$z-modal: 999;
$z-bg: -1;

// ==============================
//  Shadow
// ==============================
$shadow-shallow: 0 2px 4px rgba(0, 0, 0, 0.15);
$shadow-deep: 0 4px 8px rgba(0, 0, 0, 0.3);

// ==============================
//  BreakPoint
// ==============================
$bp-desktop: 1200px;
$bp-laptop: 960px;
$bp-tablet: 520px;
