// ==============================
//  Fonts
// ==============================
$font-ja: 'Noto Sans JP', sans-serif;

// ==============================
//  Colors
// ==============================
$main-color: #00f;
$sub-color: #0f0;
$accent-color: #f0f;
$font-color: #555;

// ==============================
//  Shadow
// ==============================
$shadow-shallow: 0 2px 4px rgba(0, 0, 0, 0.15);
$shadow-deep: 0 4px 8px rgba(0, 0, 0, 0.3);

// ==============================
//  BreakPoint
// ==============================
$desktop: 960px;
$tablet: 520px;
