<%-
  include('./components/_head' , {
    title: '総合探偵社ZERUCH（ゼルク）LINE友達限定初回調査費用50%OFFキャンペーン' ,
  })
%>

<body ontouchstart="">
  <!-- main -->
  <main class="l-main">
    <section class="l-mv">
      <h1>
        <picture>
          <source media="(min-width: 390px)" srcset="./images/fv_ph03@2x.png">
          <img src="./images/fv_ph03.png" srcset="./images/fv_ph03.png 1x, ./images/fv_ph03@2x.png 2x" alt="完全後払い可能！結果が出なければ0円">
        </picture>
      </h1>
    </section>
    <section class="l-cta">
      <div class="l-cta__box">
        <div class="l-cta__box-inner">
          <div class="l-cta__title" style="padding-top: 0;">
            <picture>
              <source media="(min-width: 390px)" srcset="./images/cta_title03@2x.png">
              <img src="./images/cta_title03.png" srcset="./images/cta_title03.png 1x, ./images/cta_title03@2x.png 2x" alt="LINE友達限定">
            </picture>
          </div>
          <div class="l-cta__btn">
            <div class="l-cta__btn-link">
              <a href="https://liff.line.me/1656991552-XYPmgEmE/landing?follow=%40727yyrdg&lp=9R9IZ0&liff_id=1656991552-XYPmgEmE">
                <picture>
                  <source media="(min-width: 390px)" srcset="./images/cta_btn_02@2x.png">
                  <img src="./images/cta_btn_02.png" srcset="./images/cta_btn_02.png 1x, ./images/cta_btn_02@2x.png 2x" alt="まずは5大特典を受け取る">
                </picture>
              </a>
            </div>
            <p class="l-cta__btn-text">※24時間365日いつでもご相談いただけます。<br>※ご相談・お見積りは無料です。</p>
          </div>
          <div>
            <picture>
              <source media="(min-width: 390px)" srcset="./images/cta_present@2x.png">
              <img src="./images/cta_present.png" srcset="./images/cta_present.png 1x, ./images/cta_present@2x.png 2x" alt="今なら5大特典プレゼント中">
            </picture>
          </div>
          <div style="margin-top: 32px;">
            <picture>
              <source media="(min-width: 390px)" srcset="./images/cta_flow@2x.png">
              <img src="./images/cta_flow.png" srcset="./images/cta_flow.png 1x, ./images/cta_flow@2x.png 2x" alt="受け取り方法">
            </picture>
          </div>
        </div>
      </div>
    </section>
    <section class="l-sec01">
      <div>
        <picture>
          <source media="(min-width: 390px)" srcset="./images/content01@2x.png">
          <img src="./images/content01.png" srcset="./images/content01.png 1x, ./images/content01@2x.png 2x" alt="不審な行動、見過ごしていませんか？">
        </picture>
      </div>
    </section>
    <section class="l-sec02">
      <div>
        <picture>
          <source media="(min-width: 390px)" srcset="./images/content02@2x.png">
          <img src="./images/content02.png" srcset="./images/content02.png 1x, ./images/content02@2x.png 2x" alt="一人で悩むことなく、プロのサポートで早期解決へと進みましょう！">
        </picture>
      </div>
    </section>
    <section class="l-cta">
      <div class="l-cta__title l-cta__title--02">
        <picture>
          <source media="(min-width: 390px)" srcset="./images/cta_title02@2x.png">
          <img src="./images/cta_title02.png" srcset="./images/cta_title02.png 1x, ./images/cta_title02@2x.png 2x" alt="LINE友達限定">
        </picture>
      </div>
      <div class="l-cta__box">
        <div class="l-cta__box-inner">
          <div>
            <picture>
              <source media="(min-width: 390px)" srcset="./images/cta_present@2x.png">
              <img src="./images/cta_present.png" srcset="./images/cta_present.png 1x, ./images/cta_present@2x.png 2x" alt="今なら5大特典プレゼント中">
            </picture>
          </div>
          <div style="margin-top: 32px;">
            <picture>
              <source media="(min-width: 390px)" srcset="./images/cta_flow@2x.png">
              <img src="./images/cta_flow.png" srcset="./images/cta_flow.png 1x, ./images/cta_flow@2x.png 2x" alt="受け取り方法">
            </picture>
          </div>
          <div class="l-cta__btn">
            <div class="l-cta__btn-title">
              <picture>
                <source media="(min-width: 390px)" srcset="./images/cta_btn_text@2x.png">
                <img src="./images/cta_btn_text.png" srcset="./images/cta_btn_text.png 1x, ./images/cta_btn_text@2x.png 2x" alt="LINEで無料相談">
              </picture>
            </div>
            <div class="l-cta__btn-link">
              <a href="https://liff.line.me/1656991552-XYPmgEmE/landing?follow=%40727yyrdg&lp=9R9IZ0&liff_id=1656991552-XYPmgEmE">
                <picture>
                  <source media="(min-width: 390px)" srcset="./images/cta_btn@2x.png">
                  <img src="./images/cta_btn.png" srcset="./images/cta_btn.png 1x, ./images/cta_btn@2x.png 2x" alt="まずは5大特典を受け取る">
                </picture>
              </a>
            </div>
            <p class="l-cta__btn-text">※24時間365日いつでもご相談いただけます。<br>※ご相談・お見積りは無料です。</p>
          </div>
        </div>
      </div>
    </section>
    <section class="l-voice">
      <h2 class="l-voice__title">お客様の声</h2>
      <div class="l-voice__title-bg">VOICE</div>
      <p class="l-voice__title-text">当社をご利用された方の声をご紹介します。</p>
      <div class="swiper">
        <div class="swiper-wrapper">
          <div class="swiper-slide">
            <div class="l-voice__img">
              <picture>
                <img src="./images/voice_women.png" srcset="./images/voice_women.png 1x, ./images/voice_women@2x.png 2x" alt="女性">
              </picture>
            </div>
            <div class="l-voice__age">40代女性</div>
            <div class="l-voice__address">北九州市八幡西区</div>
            <p class="l-voice__text">調査のたびに連絡をくれたので、安心してお願いできました。前に頼んだところは調査が終わってから見積よりも高くなったので納得いきませんでした。ZERUCHさんに頼んで良かったです。</p>
          </div>
          <div class="swiper-slide">
            <div class="l-voice__img">
              <picture>
                <img src="./images/voice_men.png" srcset="./images/voice_men.png 1x, ./images/voice_men@2x.png 2x" alt="男性">
              </picture>
            </div>
            <div class="l-voice__age">60代男性</div>
            <div class="l-voice__address">北九州市門司区</div>
            <p class="l-voice__text">娘が結婚すると連れてきた男がどうも信用できなくて調査を頼みました。この結果は撮ってもらった映像を見せながら娘とよく話し合います。</p>
          </div>
          <div class="swiper-slide">
            <div class="l-voice__img">
              <picture>
                <img src="./images/voice_women.png" srcset="./images/voice_women.png 1x, ./images/voice_women@2x.png 2x" alt="女性">
              </picture>
            </div>
            <div class="l-voice__age">50代女性</div>
            <div class="l-voice__address">福岡市南区</div>
            <p class="l-voice__text">親しみやすく、思ったより若い方だったので安心しました。息子が働いている北九州の会社について丁寧に報告してくれたのでよくわかりました。</p>
          </div>
          <div class="swiper-slide">
            <div class="l-voice__img">
              <picture>
                <img src="./images/voice_women.png" srcset="./images/voice_women.png 1x, ./images/voice_women@2x.png 2x" alt="女性">
              </picture>
            </div>
            <div class="l-voice__age">50代女性</div>
            <div class="l-voice__address">北九州市小倉北区</div>
            <p class="l-voice__text">1日で夫の浮気の証拠が掴めました。浮気していることはわかっていたので、土地勘のある方にお願いして良かったです。</p>
          </div>
          <div class="swiper-slide">
            <div class="l-voice__img">
              <picture>
                <img src="./images/voice_women.png" srcset="./images/voice_women.png 1x, ./images/voice_women@2x.png 2x" alt="女性">
              </picture>
            </div>
            <div class="l-voice__age">50代女性</div>
            <div class="l-voice__address">福岡市東区</div>
            <p class="l-voice__text">夫が浮気しているのではないかと何度か問い詰めましたが、証拠がないと言い張っていました。映像がなによりの証拠です。</p>
          </div>
          <div class="swiper-slide">
            <div class="l-voice__img">
              <picture>
                <img src="./images/voice_men.png" srcset="./images/voice_men.png 1x, ./images/voice_men@2x.png 2x" alt="男性">
              </picture>
            </div>
            <div class="l-voice__age">50代男性</div>
            <div class="l-voice__address">福岡市早良区</div>
            <p class="l-voice__text">出資を願い出てきた企業と打ち合わせるたびにどうも怪しいと思って調査を依頼しました。出資を受け入れていたら大変なことになるところでした。詳細な調査結果に頭が下がります。</p>
          </div>
        </div>
        <div class="swiper-button-prev"></div>
        <div class="swiper-button-next"></div>
      </div>
    </section>
    <section class="l-area">
      <h2 class="l-area__title">対応エリア</h2>
      <div class="l-area__title-bg">AREA</div>
      <p class="l-area__title-text">総合探偵社ZERUCH（ゼルク）は全国各地で調査を行っております。</p>
      <div class="l-area__list">
        <div class="l-area__item">
          <div class="l-area__img">
            <picture>
              <source media="(min-width: 390px)" srcset="./images/area_fukuoka@2x.jpg">
              <img src="./images/area_fukuoka.jpg" srcset="./images/area_fukuoka.jpg 1x, ./images/area_fukuoka@2x.jpg 2x" alt="福岡">
            </picture>
          </div>
          <div class="l-area__name">福岡支店</div>
          <div class="l-area__address">福岡県福岡市博多区祇園町6-26 ニューガイアオフィス博多8階</div>
          <div class="l-area__num">（探偵業届出番号：福岡県公安委員会　第90230075号）</div>
        </div>
        <div class="l-area__item">
          <div class="l-area__img">
            <picture>
              <source media="(min-width: 390px)" srcset="./images/area_kitakyusyu@2x.jpg">
              <img src="./images/area_kitakyusyu.jpg" srcset="./images/area_kitakyusyu.jpg 1x, ./images/area_kitakyusyu@2x.jpg 2x" alt="北九州">
            </picture>
          </div>
          <div class="l-area__name">北九州支店</div>
          <div class="l-area__address">福岡県北九州市小倉南区日の出町1丁目3−20</div>
          <div class="l-area__num">（探偵業届出番号：福岡県公安委員会　第90220051号）</div>
        </div>
        <div class="l-area__item">
          <div class="l-area__img">
            <picture>
              <source media="(min-width: 390px)" srcset="./images/area_osaka@2x.jpg">
              <img src="./images/area_osaka.jpg" srcset="./images/area_osaka.jpg 1x, ./images/area_osaka@2x.jpg 2x" alt="大阪">
            </picture>
          </div>
          <div class="l-area__name">大阪本店</div>
          <div class="l-area__address">大阪府大阪市北区曾根崎2-8-5 お初天神East Bldg</div>
          <div class="l-area__num">（探偵業届出番号：大阪府公安委員会　第62230103号）</div>
        </div>
        <div class="l-area__item">
          <div class="l-area__img">
            <picture>
              <source media="(min-width: 390px)" srcset="./images/area_tokyo@2x.jpg">
              <img src="./images/area_tokyo.jpg" srcset="./images/area_tokyo.jpg 1x, ./images/area_tokyo@2x.jpg 2x" alt="東京">
            </picture>
          </div>
          <div class="l-area__name">東京支店</div>
          <div class="l-area__address">東京都千代田区神田須田町2-23-1</div>
          <div class="l-area__num">（探偵業届出番号：東京都公安委員会　第30220023号）</div>
        </div>
        <div class="l-area__item">
          <div class="l-area__img">
            <picture>
              <source media="(min-width: 390px)" srcset="./images/area_nagoya@2x.jpg">
              <img src="./images/area_nagoya.jpg" srcset="./images/area_nagoya.jpg 1x, ./images/area_nagoya@2x.jpg 2x" alt="名古屋">
            </picture>
          </div>
          <div class="l-area__name">名古屋支店</div>
          <div class="l-area__address">愛知県名古屋市中村区名駅5-31-10</div>
          <div class="l-area__num">（探偵業届出番号：愛知県公安委員会　第54220047号）</div>
        </div>
        <div class="l-area__item">
          <div class="l-area__img">
            <picture>
              <source media="(min-width: 390px)" srcset="./images/area_tohoku@2x.jpg">
              <img src="./images/area_tohoku.jpg" srcset="./images/area_tohoku.jpg 1x, ./images/area_tohoku@2x.jpg 2x" alt="東北">
            </picture>
          </div>
          <div class="l-area__name">東北相談室</div>
          <div class="l-area__address">岩手県盛岡市開運橋通5-6 第五菱和ビル-31-10</div>
          <div class="l-area__num">（探偵業届出番号：岩手県公安委員会　第21200004号）</div>
        </div>
        <div class="l-area__item">
          <div class="l-area__img">
            <picture>
              <source media="(min-width: 390px)" srcset="./images/area_hokkaido@2x.jpg">
              <img src="./images/area_hokkaido.jpg" srcset="./images/area_hokkaido.jpg 1x, ./images/area_hokkaido@2x.jpg 2x" alt="北海道">
            </picture>
          </div>
          <div class="l-area__name">北海道相談室</div>
          <div class="l-area__address">北海道札幌市中央区北1条西22-2-7</div>
          <div class="l-area__num">（探偵業届出番号：北海道公安委員会　第10230015号）</div>
        </div>
      </div>
    </section>
    <section class="l-cta">
      <div class="l-cta__title l-cta__title--02">
        <picture>
          <source media="(min-width: 390px)" srcset="./images/cta_title02@2x.png">
          <img src="./images/cta_title02.png" srcset="./images/cta_title02.png 1x, ./images/cta_title02@2x.png 2x" alt="LINE友達限定">
        </picture>
      </div>
      <div class="l-cta__box">
        <div class="l-cta__box-inner">
          <div>
            <picture>
              <source media="(min-width: 390px)" srcset="./images/cta_present@2x.png">
              <img src="./images/cta_present.png" srcset="./images/cta_present.png 1x, ./images/cta_present@2x.png 2x" alt="今なら5大特典プレゼント中">
            </picture>
          </div>
          <div style="margin-top: 32px;">
            <picture>
              <source media="(min-width: 390px)" srcset="./images/cta_flow@2x.png">
              <img src="./images/cta_flow.png" srcset="./images/cta_flow.png 1x, ./images/cta_flow@2x.png 2x" alt="受け取り方法">
            </picture>
          </div>
          <div class="l-cta__btn">
            <div class="l-cta__btn-title">
              <picture>
                <source media="(min-width: 390px)" srcset="./images/cta_btn_text@2x.png">
                <img src="./images/cta_btn_text.png" srcset="./images/cta_btn_text.png 1x, ./images/cta_btn_text@2x.png 2x" alt="LINEで無料相談">
              </picture>
            </div>
            <div class="l-cta__btn-link">
              <a href="https://liff.line.me/1656991552-XYPmgEmE/landing?follow=%40727yyrdg&lp=9R9IZ0&liff_id=1656991552-XYPmgEmE">
                <picture>
                  <source media="(min-width: 390px)" srcset="./images/cta_btn@2x.png">
                  <img src="./images/cta_btn.png" srcset="./images/cta_btn.png 1x, ./images/cta_btn@2x.png 2x" alt="まずは5大特典を受け取る">
                </picture>
              </a>
            </div>
            <p class="l-cta__btn-text">※24時間365日いつでもご相談いただけます。<br>※ご相談・お見積りは無料です。</p>
          </div>
        </div>
      </div>
    </section>
  </main>
  <!-- /main -->
  <!-- footer -->
  <footer class="l-footer">
    <div class="l-footer__btn">
      <a href="https://zeruch-tanteisya.com/" target="_blank" rel="noopener noreferrer">
        <picture>
          <img src="./images/footer_btn.png" srcset="./images/footer_btn.png 1x, ./images/footer_btn@2x.png 2x" alt="公式ウェブサイト">
        </picture>
      </a>
    </div>
    <div class="l-footer__copy">
      <small>&copy; 2024 総合探偵社ZERUCH（ゼルク）</small>
    </div>
  </footer>
  <!-- /footer -->
  <script src="./js/bundle.js"></script>
</body>
</html>